<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b>Id:</b>
    <%= @message.id %>
  </p>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :from_id %><br />
    <%= select 'message', 'from_id', Person.all.collect{|p| [p.email, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= select 'message', 'to_id', Person.all.collect{|p| [p.email, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :sent_on %><br />
    <%= f.text_field :sent_on, :class => 'datetime-picker'%>
  </div>
  <div class="field">
    <%= f.label :read_on %><br />
    <%= f.text_field :read_on, :class => 'datetime-picker'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
