<h1>Listing messages</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Text</th>
    <th>Sent on</th>
    <th>Read on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.from.email %></td>
    <td><%= message.to.email %></td>
    <td><%= message.text %></td>
    <td><%= message.sent_on %></td>
    <td><%= message.read_on %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
