<!DOCTYPE html>
<html>
<head>

  <title>SnaTest</title>
  
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.14.custom' %>
  <%= stylesheet_link_tag 'custom' %>

  <%= javascript_include_tag 'prototype', 'jquery-1.6.2.min', 'jquery-ui-1.8.14.custom.min', 'jquery-ui-timepicker-addon', 'date.format', :defaults %>
  
  <%= csrf_meta_tag %>
  
</head>
<body>

<%= yield %>

  <br></br>
  
  <%= link_to 'Persons', people_path %> |
  <%= link_to 'Person relations', person_relations_path %> |
  <%= link_to 'Messages', messages_path %>
  
</body>
</html>
