<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :visibility_status %><br />
    <%= select 'person', 'visibility_status', ['Invisible', 'Offline', 'Online', 'ContactMe'].collect{|status| [status, status]}%>
  </div>
  <div class="field">
    <%= f.label :offline_since %><br />
    <%= f.text_field :offline_since, :class => 'datetime-picker'%>
  </div>
  <div class="field">
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :mood %><br />
    <%= f.text_field :mood %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
