<h1>Listing friends of <%= @person.nick %></h1>

<table>
  <tr>
    <th>Nick</th>
    <th>Mood</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person.friends.each do |person| %>
  <tr>
    <td><%= person.nick %></td>
    <td><%= person.mood %></td>
    <td><%= person.email %></td>
    <td><%= person.phone %></td>
    <td><%= person.password %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', @person %>
