<h1>Listing people</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Visibility status</th>
    <th>Offline since</th>
    <th>Validation errors</th>
    <th>Phone</th>
    <th>Nick</th>
    <th>Mood</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.email %></td>
    <td><%= person.password %></td>
    <td><%= person.visibility_status %></td>
    <td><%= person.offline_since %></td>
    <td><%= person.validation_errors %></td>
    <td><%= person.nick %></td>
    <td><%= person.mood %></td>
    <td><%= person.phone %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
