<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Password:</b>
  <%= @person.password %>
</p>

<p>
  <b>Visibility status:</b>
  <%= @person.visibility_status %>
</p>

<p>
  <b>Offline since:</b>
  <%= @person.offline_since %>
</p>

<p>
  <b>Validation errors:</b>
  <%= @person.validation_errors %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Nick:</b>
  <%= @person.nick %>
</p>

<p>
  <b>Mood:</b>
  <%= @person.mood %>
</p>

<p>
  <b>Description:</b>
  <%= @person.description %>
</p>

<p>
  <b>Occupation:</b>
  <%= @person.occupation %>
</p>

<p>
  <b>Hobby:</b>
  <%= @person.hobby %>
</p>

<p>
  <b>Main location:</b>
  <%= @person.main_location %>
</p>

<table>
  <tr>
    <td>
      <b>Friends:</b>
      <ul>
        <% @person.friends.each do |person| %>
          <li>
            <%= person.nick %>
            <%= link_to 'Show', person %>
            <%= link_to 'Remove', remove_relation_path(@person, person), :confirm => 'Are you sure?'%>
          </li>
        <% end %>
      </ul>
      <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Add...</option>
        <% @person.aliens.each do |person| %>
          <option value="<%= add_friend_path(@person, person) %>"><%= person.nick %></option>
        <% end %>
      </select>
    </td>
    <td>
      <b>Aliens:</b>
      <ul>
        <% @person.aliens.each do |person| %>
          <li>
            <%= person.nick %>
            <%= link_to 'Show', person %>
          </li>
        <% end %>
      </ul>
    </td>
    <td>
      <b>Waiting for me:</b>
      <ul>
        <% @person.persons_waiting_for_me.each do |person| %>
          <li>
            <%= person.nick %>
            <%= link_to 'Show', person %>
            <%= link_to 'Remove', remove_relation_path(@person, person), :confirm => 'Are you sure?'%>
          </li>
        <% end %>
      </ul>
      <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Add...</option>
        <% @person.aliens.each do |person| %>
          <option value="<%= add_waiting_for_me_path(@person, person) %>"><%= person.nick %></option>
        <% end %>
      </select>
    </td>
    <td>
      <b>Waiting for him:</b>
      <ul>
        <% @person.persons_waiting_for_him.each do |person| %>
          <li>
            <%= person.nick %>
            <%= link_to 'Show', person %>
            <%= link_to 'Remove', remove_relation_path(@person, person), :confirm => 'Are you sure?'%>
          </li>
        <% end %>
      </ul>
      <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Add...</option>
        <% @person.aliens.each do |person| %>
          <option value="<%= add_waiting_for_him_path(@person, person) %>"><%= person.nick %></option>
        <% end %>
      </select>
    </td>
    <td>
      <b>Rejected:</b>
      <ul>
        <% @person.rejected_persons.each do |person| %>
          <li>
            <%= person.nick %>
            <%= @person.find_rejected_on(person) %>
            <%= link_to 'Show', person %>
            <%= link_to 'Remove', remove_relation_path(@person, person) %>
          </li>
        <% end %>
      </ul>
      <select onchange="location = this.options[this.selectedIndex].value + '?rejected_on=' + ($('rejected-on-textbox').value != '' ? $('rejected-on-textbox').value : dateFormat('isoDateTime'));">
        <option>Add...</option>
        <% @person.aliens.each do |person| %>
          <option value="<%= add_rejected_path(@person, person) %>"><%= person.nick %></option>
        <% end %>
      </select>
      <input id="rejected-on-textbox" class="datetime-picker"></input>
    </td>
  </tr>
</table>
<p>
  
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %> |