<%= form_for(@person_relation) do |f| %>
  <% if @person_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_relation.errors.count, "error") %> prohibited this person_relation from being saved:</h2>

      <ul>
      <% @person_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_id %><br />
    <%= select 'person_relation', 'from_id', Person.all.collect{|p| [p.email, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= select 'person_relation', 'to_id', Person.all.collect{|p| [p.email, p.id]}%>
  </div>

  <div class="field">
    <%= f.label :relation_status_code %><br />
    <%= select 'person_relation', 'relation_status_code', ['Friend', 'WaitingForHim', 'Rejected'].collect{|status| [status, status]}%>
  </div>

  <div class="field">
    <%= f.label :rejected_on %><br />
    <%= f.text_field :rejected_on, :class => 'datetime-picker'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
