<%= form_for(@person_relation) do |f| %>
  <% if @person_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_relation.errors.count, "error") %> prohibited this person_relation from being saved:</h2>

      <ul>
      <% @person_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_id %><br />
    <%= f.text_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.text_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :relation_status_code %><br />
    <%= f.text_field :relation_status_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
