<h1>Listing person_relations</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Relation status code</th>
    <th>Rejected on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person_relations.each do |person_relation| %>
  <tr>
    <td><%= person_relation.from.email %></td>
    <td><%= person_relation.to.email %></td>
    <td><%= person_relation.relation_status_code %></td>
    <td><%= person_relation.rejected_on %></td>
    <td><%= link_to 'Show', person_relation %></td>
    <td><%= link_to 'Edit', edit_person_relation_path(person_relation) %></td>
    <td><%= link_to 'Destroy', person_relation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person relation', new_person_relation_path %>
